.nav {
    overflow: hidden;
    background-color: #ccc;
}

.nav li {
    float: left;
    color: #000;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    text-decoration: none;
}

.nav ul {
    list-style-type: none;
}

.left-panel {
    margin-left: 10px;
}

.right-panel {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.align-panel {
    display: grid;
    grid-template-columns: auto auto;
    padding: auto;
}